/* Se Importan los estilos por seccion */
@import "./header/header.css";
@import "./body/about.css";
@import "./body/hero.css";
@import "./body/features.css";
@import "./body/demo.css";

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* variables css */
:root {
  --main-color: #3b04db;
  --secondary-color: #ff4e56;
  --font-tittle: "Muli";
  --font-general: "Nunito Sans";
}

a {
  color: inherit;
}
