.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: var(--font-tittle);
  background-color: rgba(219, 218, 218, 0.1);
  padding: 6rem 0;
}

.features h2 {
  color: var(--main-color);
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.features h3 {
  color: rgb(19, 19, 78);
  font-size: 2rem;
  width: 54%;
  padding-bottom: 1rem;
}

.features > p {
  font-family: var(--font-general);
  padding-bottom: 2rem;
  width: 50%;
  line-height: 2rem;
}

.features-container {
  display: grid;
  justify-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
}

.feature {
  background-color: #fff;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
}

.feature img {
  width: 50px;
  padding-bottom: 0.5rem;
}

.feature h4 {
  color: rgb(19, 19, 78);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.feature p {
  line-height: 1.6rem;
  text-align: center;
}
